<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair  coloring section</title>
    <link rel="stylesheet" href="../static/css/haircut.css">

    <!-- This is for the animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <diV class="logos"  id="logos">
        <diV  class="logostyle"  data-aos="fade-right" >
                <diV>
                <a> <img class="logo1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAxEQb23Q5WRiYWyS0GxJ7bC_suEiWUF_i6pf1_bwx9KbKOc20z8tglRdAdWkHukRq5hA&usqp=CAU" alt=""></a>
                <a href="{{ url_for('booking2') }}"><button class="brief2"><h1>Book now</h1></button></a>
                </diV>
        </diV>
        <diV class="logostyle" data-aos="fade-right" >
                <diV>
                    <img class="logo2"  src="https://i.pinimg.com/236x/88/9f/eb/889feb452dece0edb19c340f1c2168b9.jpg" alt="hello5">
                    <a href="{{ url_for('booking') }}"><button class="brief2"><h1>Book now</h1></button></a>
                </diV>
        </diV>
        <diV class="logostyle"   data-aos="fade-right">
                <diV>
                    <img class="logo4"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfwH5-XudHg5BwzXqRDou3-towcDlCFLPBiOkL8prABFYBNN_MqjY-Z_GlXAAI0eZ-V08&usqp=CAU" alt="">
                    <a href="{{ url_for('booking2') }}"><button class="brief2"><h1>Book now</h1></button></a>
                </div> 
        </diV>       
        <diV class="logostyle"  data-aos="fade-right">
                <div>
                    <img class="logo2"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX0RRJiZjBTvAnJ7Tw8D9MFIC_jGiVJM51_iFiExPtJC1gYtiPnk-FozhX1MlKMi5gE8o&usqp=CAU" alt="">
                    <a href="{{ url_for('booking') }}"><button class="brief2"><h1>Book now</h1></button></a>
                </diV>
        </diV>
    </div> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <diV class="logos">
        <diV  class="logostyle" data-aos="fade-left" >
            <diV>
            <a> <img class="logo1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo54JjWw13frGbEI345UswJ1zRfTl1kkW_sAfrKdyRAPADt5jfiGsGLGmFAfnO2MQGg4E&usqp=CAU" alt=""></a>
            <a href="{{ url_for('booking2') }}"><button class="brief2"><h1>Book now</h1></button></a>
            </diV>
        </diV>
        <diV class="logostyle" data-aos="fade-left" >
                <diV>
                    <img class="logo2"  src="https://res.cloudinary.com/conferences-and-exhibitions-pvt-ltd/image/upload/v1618299154/Hair%20and%20Beauty%20Trends/April-2021/Trending-Hair-Colours-for-Men-in-2021/Deep_Red_line.17qq.com_jc6kuh.jpg" alt="hello5">
                    <a href="{{ url_for('booking') }}"><button class="brief2"><h1>Book now</h1></button></a>
                </diV>
        </diV>
        <diV class="logostyle"   data-aos="fade-left">
                <diV>
                    <img class="logo4"  src="https://limelitesalonandspa.com/wp-content/uploads/2022/11/image-16.png" alt="">
                    <a href="{{ url_for('booking2') }}"><button class="brief2"><h1>Book now</h1></button></a>
                </div> 
        </diV>       
        <diV class="logostyle"  data-aos="fade-left">
                <div>
                    <img class="logo2"  src="https://i.pinimg.com/564x/47/e0/6d/47e06d7d534244487f335d9d0603e44c.jpg" alt="">
                    <a href="{{ url_for('booking') }}"><button class="brief2"><h1>Book now</h1></button></a>
                </diV>
        </diV>
    </diV>
    <br>
    <br>
<div class="explore">  <a href="{{ url_for('home') }}"> <button class="explorebtn" > Explore more !</button></a></div>
<div class="feedback">
    <div class="feed_left">
        <h2 class="feed_h">We are ready for your <br>
        Feedback </h2>
        <a href="{{ url_for('feedback') }}">  <button class="feed_p"> Let us discuss to gether! </button></a>
    </div>
    <div class="feed_right">
        <img class="feed_right2" src="../static/images/laughing.jpg" alt="feedback">


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>         
</div>
  <!-- <p>src="./index_files/IMG_20231122_213738-01_jtmgjt.jpg" </p> -->
</html> 