<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy and Policy</title>
    <style>
        body{
            margin-top: -25px;
            margin-left:-0.5px;
        }
        .copy{
        display: flex;
        background-color:whitesmoke;
        justify-content: center;
        align-items: center;
        padding:5px;
  }
    </style>
</head>
<body>
    <div class="privacy" style="font-size: larger; color: black; background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;" >
        <h1><i>Privacy Policy</i></h1>
        <h3>Information Collection and Use</h3>
        <p>We collect several different types of information for various purposes to provide and improve our <br> Site and services to you.</p>
        We use your data to provide and improve the Site. By using the Site, you agree to the collection and use of information in accordance with this policy. <br>
        <h3>1.1 Personal Data</h3>
        <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (“Personal Data”). <br> Personally identifiable information may include, but is not limited to:</p>
        <ul>
            <li>Email address</li>
            <li>First name and last name</li>
            <li>Phone number</li>
            <li>Address, State, Province, ZIP/Postal code, City</li>
        </ul>
        <h3>1.3 Tracking & Cookies Data</h3>
        <p>We use cookies and similar tracking technologies to track the activity on our Site and hold certain information.</p>
        <h3>Use of Data</h3>
        <p>We use the collected data for various purposes:</p>
        <ul>
            <li>To provide and maintain the Site</li>
            <li>To protect and defend the rights or property of [OUR SALON COMMUNITY]</li>
            <li>To prevent or investigate possible wrongdoing in connection with the Site</li>
            <li>To protect the personal safety of users of the Site or the public</li>
            <li></li>
        </ul>
        <h3>Security of Data</h3>
        <p>The security of your data is important to us, but remember that no method of transmission over <br> the Internet, or method of electronic storage, is 100% secure. While we strive to <br>  use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
     <details>
            <summary>FAQ.</summary>
                <p>  
                    <ul>
                        <li> Is Salon Booking System is avilabel in onnline ? - Yes, using https://kolarsalon.netlify.app/ " checkout" <br><br>      </li>
                        <li>Can I use WhatsApp to send notifications to my customers? - WE are already impimented  this kind of feature, subscribe to our newsletter to keep posted </li>
                        <li>Can I use Salon Booking System on WordPress Multi-Sites? Yes, you can</li>
                        <li>Can I use Square to process online payments with Salon Booking System? Yes, using our add-on: https://www.salonbookingsystem.com/downloads/square-payment-method-pos/</li>
                        <li>Does Salon Booking System comply with GDPR legal regulation? Yes as we follow  and apply the GDPR guidelines required by VScode</li>
                    </ul>            
                </p>
        </details>
    </div>
    <div class="copy">
        <p>Copyright &copy; 2024 Design By <span class="deve"><b>
          Manjunath.A</b></span></p>
      </div> 
</body>
</html>