<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Choice</title>
    <link rel="stylesheet" href="../static/css/secondpg.css">
</head>
<body>
   
    <div class="home">
        <diV class="subject">
            <h1>SELECT  <br> <span>your </span> Gender</h1>
           <h3>" Book Slot <span2>look</span2> Smart "</h3>
           <marquee direction="left" > A  nice haircut makes everything  look  good around  you. </marquee>
        </diV>
        <diV class="left">
            <img src="https://i.pinimg.com/564x/98/09/4c/98094c0f58fb93218655161d645f8069.jpg " alt="BABY'S">
            <!-- -->
            <br>
            <a href="{{ url_for('girl') }}"> <button class="btn transparent"> BABY'S</button> </a> 
        </diV>
        <div class="right">
            <img src="https://images.unsplash.com/photo-1605497788044-5a32c7078486?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bWVucyUyMGhhaXJjdXR8ZW58MHx8MHx8fDA%3D" alt="GENS">
            <br>
            <a href="{{ url_for('home') }}"> <button class="btn transparent" >GENTS</button> </a>
        </div>
    </div>

</body>
</html>